<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Capstone Proj App</title>
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;1,700&display=swap" rel="stylesheet">
    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/app.css">
</head>
<body>
<nav>
    <div>
    <i1mg class="container mx-auto flex items-center justify-between py-4">
        <div>
          <a href="/"> <img class="photo" src="/img/Logo.png" alt="LOGO" > </a> 
        </div>
        <div>
            <ul class="flex items-center">
                <li class="ml-6"> <a href="/">Menu</a> </li>
                <li class="ml-6"><a href="#">Offers</a></li>
                <% if(user) { %>    
                <li>
                  <form id="logout" action="/logout" method="POST">
                      <a onclick="document.getElementById('logout') .submit()" href="#">Logout</a>
                  </form>
                </li>
              <% } else { %>
              <li class="ml-6"><a href="/register">Register</a></li>
              <li class="ml-6"><a href="/login">Login</a></li>
              <% } %>
                <li class="ml-6"><a href="/cart" class="inline-block px-4 rounded-full">
                  <span class="cartCounter text-orangered font-bold flex items-center pr-2"><%=session.cart ? session.cart.totalQty:''%>
                    <i class="fa fa-shopping-cart" style="font-size:48px;color:orangered"></i></a></li></span>
            </ul>
        </div>
    </div>   
    </nav>

<section class="login flex justify-center pt-24">
    <div class="w-full max-w-xs">
        <form action="/login" method="POST" class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
          <% if(messages.error) {%>
            <span class="text-red-500 text-xs italic"><%= messages.error %></span>
            <% } %>
          <div class="mb-4">
            <label class="block text-gray-700 text-sm font-bold mb-2" for="Email">
              Email
            </label>
            <input name="email" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="username" type="Email" placeholder="login with Your Email">
          </div>
          <div class="mb-6">
            <label class="block text-gray-700 text-sm font-bold mb-2" for="password">
              Password
            </label>
            <input name="password" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline" id="password" type="password" placeholder="Enter Your Password">
            <p class="text-red-500 text-xs italic">Please Enter Your Password</p>
          </div>
          <div class="flex items-center justify-between">
            <button class="btn-primay rounded-full text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="submit">
              Log In
            </button>
            <a class="inline-block align-baseline font-bold text-sm text-blue-500 hover:text-blue-800" href="/register">
              I Don't Have Account
            </a>
          </div>
        </form>
      </div>
</section>













</body>
</html>